
<!DOCTYPE html>
<html>
  <head>
    <title>注册</title>
    <link rel="icon" type="image/x-icon" href="/images/infinity.ico">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/javascripts/additional-methods.js"></script>
    <script type="text/javascript" src="/javascripts/errormessage.js"></script>
  </head>
  <body>
    <div class="container">
      <img class="logo" src="images/infinity.png"/>
      <div class="form row">
        <form id="register_form" class="form-horizontal col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6" action="/register" method="post">
          <h3 class="col-sm-12 col-md-12 form-title">用户注册</h3>
          <div class="col-sm-12 col-sm-12 col-md-12">
            <div class="form-group">
              <input class="form-control required" type="text" placeholder="用户名" name='username' autofocus="autofocus" maxlength="20" />
            </div>
            <div class="form-group">
              <input class="form-control required" type="text" placeholder="真实姓名" name="truename" maxlength="20" />
            </div>
            <div class="form-group">
              <input class="form-control required" id="password" type="password" placeholder="密码" name='password' maxlength="12" />
            </div>
            <div class="form-group">
              <input class="form-control required" type="password" placeholder="确认密码" name="rpassword" maxlength="12" />
            </div>
            <div class="form-group">
              <input class="btn btn-success btn-block" type="submit" value="注册" />
            </div>
            <% if (locals.message) { %>
              <h4 class="col-sm-12 col-md-12 errormessage"><%= message %></h4>
            <% } locals.message = [];%>
          </div>
        </form>
      </div>
      <!--各种格式的提示信息-->
      <div class="hint col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
          <div style="text-align:center;">
            <h3 style="color:#FF3333;font-weight:bold;">注意事项</h3>
          </div>
          <h4 class="hint-text">1.用户名只能包含字母和数字，并且只能以字母开头，长度在3-12个字符之间；<h4>
          <h4 class="hint-text">2.真实姓名只能包含汉字和字母，并且只能以字母开头，长度在3-12个字符之间；<h4>
          <h4 class="hint-text">3.密码只能包含字母数字及“!”、“@”、“#”，“$”，“_”，长度在6-12个字符之间；<h4>
      </div>
    </div>
  </body>
</html>
