<html>
<head>
  <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body style="background-color:white;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 max-height">
     <a class="navbar-brand left" href="#">
      <img class="navicon" src="../public/images/infinity.png"/>
    </a>
    <p class="nav-line">应用列表</p>
    <div class="inline max-height right">
      <p class="nav-line nav-username" id="username">王晨</p>
      <button class="btn btn-success my-btn" type="submit">登出</button>
    </div>

   </div>



  </nav>
</body>
</html>
